<div class="col-md-4">
  <h1>Permissions</h1>
  
  <span ng-repeat="application in applications">
    <h2 style="font-weight: 300;">{{ application.name }}</h2>
    
    <ul id="sortable" class="ui-sortable">
        <li class="ui-state-default" ng-repeat="role in roles | filter:({application_id:application.id})">{{ role.name }}</li>
    </ul>
  </span>
  
  <!--<h2 style="font-weight: 500;">eVote</h2>

  <ul id="sortable" class="ui-sortable">
      <li class="ui-state-default">Create Ballots</li>
      <li class="ui-state-default ui-state-highlighted ui-state-selected">View Results</li>
      <li class="ui-state-default">Vote</li>
  </ul>-->
</div>
<div class="col-md-4">
  <h1>Groups</h1>
  
  <ul id="sortable" class="ui-sortable">
  <span ng-repeat="group in groups">
    <li class="ui-state-default">{{ group.name }}</li>
  </span>
  </ul>
  
  <!--<h2>Assigned</h2>
  
  <ul id="sortable" class="ui-sortable">
    <li class="ui-state-default ui-state-highlighted" style="background: linear-gradient(to bottom, rgb(125, 125, 125) 0%, rgb(105, 105, 105) 100%);">DSS IT Service Center</li>
    <li class="ui-state-default ui-state-highlighted" style="background: linear-gradient(to bottom, rgb(125, 125, 125) 0%, rgb(105, 105, 105) 100%);">DSS IT Student Staff</li>
  </ul>-->
  
  <h2 style="opacity: 0.4;">DSS IT</h2>
  
  <ul id="sortable" class="ui-sortable">
    <li class="ui-state-default ui-state-disabled">DSS IT Service Center</li>
    <li class="ui-state-default ui-state-disabled">DSS IT Student Staff</li>
  </ul>
  
  <h2 style="opacity: 0.4;">Blue Cluster</h2>
  
  <ul id="sortable" class="ui-sortable">
    <li class="ui-state-default ui-state-disabled">Economics Faculty</li>
    <li class="ui-state-default ui-state-highlighted ui-state-disabled" style="background: linear-gradient(to bottom, rgb(125, 125, 125) 0%, rgb(105, 105, 105) 100%);">Economics Staff</li>
    <li class="ui-state-default ui-state-highlighted ui-state-disabled" style="background: linear-gradient(to bottom, rgb(125, 125, 125) 0%, rgb(105, 105, 105) 100%);">Blue Cluster Staff</li>
    <li class="ui-state-default ui-state-disabled">Blue Cluster Students</li>
    <li class="ui-state-default ui-state-disabled">History Staff</li>
    <li class="ui-state-default ui-state-disabled">History Faculty</li>
  </ul>
  
  <h2 style="opacity: 0.4;">Center for Mind &amp; Brain</h2>
  
  <ul id="sortable" class="ui-sortable">
    <li class="ui-state-default ui-state-disabled">CMB Staff</li>
  </ul>
  
  <h2 style="opacity: 0.4;">Green Cluster</h2>
  
  <ul id="sortable" class="ui-sortable">
    <li class="ui-state-default ui-state-disabled">Psychology Faculty</li>
    <li class="ui-state-default ui-state-disabled">Psychology Staff</li>
    <li class="ui-state-default ui-state-disabled">All Psychology People</li>
  </ul>
  
  <h2 style="opacity: 0.4;">DSS HR</h2>
  
  <ul id="sortable" class="ui-sortable">
    <li class="ui-state-default ui-state-disabled">DSS HR Service Center</li>
  </ul>
  
</div>
<div class="col-md-4">
  <h1>People</h1>
  
  <ul id="sortable" class="ui-sortable">
  <span ng-repeat="person in people | orderBy:'name'">
    <li class="ui-state-default">{{ person.name }}</li>
  </span>
  </ul>
  
  <!--<h2>Assigned</h2>
  <ul id="sortable" class="ui-sortable">
    <li class="ui-state-default ui-state-highlighted" style="background: linear-gradient(to bottom, rgb(125, 125, 125) 0%, rgb(105, 105, 105) 100%);">Dewight Kramer</li>
    <li class="ui-state-default ui-state-highlighted" style="background: linear-gradient(to bottom, rgb(125, 125, 125) 0%, rgb(105, 105, 105) 100%);">Obada Kadri</li>
    <li class="ui-state-default ui-state-highlighted" style="background: linear-gradient(to bottom, rgb(125, 125, 125) 0%, rgb(105, 105, 105) 100%);">Diane Mercedes Aguilar</li>
    <li class="ui-state-default ui-state-highlighted" style="background: linear-gradient(to bottom, rgb(125, 125, 125) 0%, rgb(105, 105, 105) 100%);">Brandon Vernon Baker</li>
    <li class="ui-state-default ui-state-highlighted" style="background: linear-gradient(to bottom, rgb(125, 125, 125) 0%, rgb(105, 105, 105) 100%);">Carol McMasters-Stone</li>
  </ul>-->
  
  <h2 style="opacity: 0.4;">A-D</h2>
  <ul id="sortable" class="ui-sortable">
    <li class="ui-state-default ui-state-disabled">Lloyd Wheeler</li>
    <li class="ui-state-default ui-state-highlighted ui-state-disabled" style="background: linear-gradient(to bottom, rgb(125, 125, 125) 0%, rgb(105, 105, 105) 100%);">Dewight Kramer</li>
    <li class="ui-state-default ui-state-disabled">Janine Carlson</li>
    <li class="ui-state-default ui-state-highlighted ui-state-disabled" style="background: linear-gradient(to bottom, rgb(125, 125, 125) 0%, rgb(105, 105, 105) 100%);">Obada Kadri</li>
    <li class="ui-state-default ui-state-disabled">Christopher Thielen</li>
  </ul>

  <h2 style="opacity: 0.4;">E-G</h2>
  <ul id="sortable" class="ui-sortable">
    <li class="ui-state-default ui-state-disabled">Jeremy M Phillips</li>
    <li class="ui-state-default ui-state-highlighted ui-state-disabled" style="background: linear-gradient(to bottom, rgb(125, 125, 125) 0%, rgb(105, 105, 105) 100%);">Diane Mercedes Aguilar</li>
    <li class="ui-state-default ui-state-disabled">Michael Richter Smith</li>
    <li class="ui-state-default ui-state-disabled">Rachel Zimring Feldman</li>
    <li class="ui-state-default ui-state-highlighted ui-state-disabled" style="background: linear-gradient(to bottom, rgb(125, 125, 125) 0%, rgb(105, 105, 105) 100%);">Brandon Vernon Baker</li>
    <li class="ui-state-default ui-state-highlighted ui-state-disabled" style="background: linear-gradient(to bottom, rgb(125, 125, 125) 0%, rgb(105, 105, 105) 100%);">Carol McMasters-Stone</li>
    <li class="ui-state-default ui-state-disabled">Christopher Brick</li>
    <li class="ui-state-default ui-state-disabled">Scott A Dyer</li>
  </ul>
  
  <h2 style="opacity: 0.4;">H-L</h2>
  <ul id="sortable" class="ui-sortable">
    <li class="ui-state-default ui-state-disabled">Josephine Cosca</li>
    <li class="ui-state-default ui-state-disabled">Jeff Trask</li>
    <li class="ui-state-default ui-state-disabled">Jarold Wong</li>
    <li class="ui-state-default ui-state-disabled">Alvin Gilbert Block</li>
    <li class="ui-state-default ui-state-disabled">Angus Chang</li>
    <li class="ui-state-default ui-state-disabled">Jackie Teeple</li>
  </ul>
  
  <h2 style="opacity: 0.4;">M-Q</h2>
  <ul id="sortable" class="ui-sortable">
    <li class="ui-state-default ui-state-disabled">Cat Huff</li>
    <li class="ui-state-default ui-state-disabled">Stephanie Fallas</li>
  </ul>
</div>
