<div class="" style="position: fixed; top: 51px; left: 0px; background-color: #eee; border-bottom: 1px solid #bbb; width: 100%; height: 46px;">
  <input class="form-control search-query" type="text" id="search_applications" placeholder="Find people, groups, applications, roles …" autocomplete="off" style="text-align: center; width: 85%; margin: auto auto; margin-top: 5px; margin-bottom: 5px;" />
</div>

<div class="col-md-9" id="cards-area"></div>
<div class="col-md-3" id="sidebar-area"></div>
