<div class="unified-search-bar">
  <input class="form-control search-query" type="text" id="search_applications" placeholder="Find people, groups, applications, roles …" autocomplete="off" style="text-align: center; width: 85%; margin: auto auto; margin-top: 5px; margin-bottom: 5px;" />
</div>

<div class="col-md-9" id="cards-area"></div>
<div class="col-md-3" id="sidebar-area"></div>
