<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      <h3>name</h3>
    </div>
    <div class="modal-body">
      <div style="float: left; width: 17%;">
        <ul class="nav nav-pills nav-stacked">
          <li class="active"><a href="#summary" data-toggle="tab">Summary</a></li>
          <li><a href="#roles" data-toggle="tab">Roles</a></li>
          <li><a href="#ad" data-toggle="tab">Active Directory</a></li>
        </ul>
      </div>
      <div style="float: right; width: 80%;">
        <div class="tab-content">
          <div class="tab-pane active fade in" id="summary">
            <form role="form">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" name="name" class="form-control" />
                </div>
            
                <div class="form-group">
                  <label for="description">Description</label>
                  <input type="text" name="description" class="form-control" />
                </div>
            
                <div class="form-group">
                  <label for="url">URL</label>
                  <input type="text" name="url" class="form-control" />
                </div>
            
                <div class="form-group">
                  <label for="owners">Owners</label>
                  <input type="text" name="owners" class="token_input" />
                </div>
            
                <div class="form-group">
                  <label for="operators">Operators</label>
                  <input type="text" name="operators" class="token_input" />
                </div>
            </form>
          </div>
          <div class="tab-pane fade" id="roles">
            <table class="table table-striped" id="roles">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Token</th>
                  <th>Description</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
            <p><button type="button" class="btn btn-primary" id="add_role">Add Role</button></p>
          </div>
          <div class="tab-pane fade" id="ad">
              <form class="form-horizontal" role="form">
                  <table class="table table-striped" id="ad_fields">
                    <thead>
                      <tr>
                        <th>Role</th>
                        <th>Active Directory Path</th>
                      </tr>
                    </thead>
                    <tbody></tbody>
                  </table>
              </form>
            <p>
              <small>The group name is appended after the base AD path configured by the administrator.</small>
            </p>
          </div>
        </div>
      </div>
      <div style="clear: both;"></div>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn btn-danger" style="float: left; display: none;" id="delete">Delete Application</a>
      <div class="btn-group">
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-tasks"></i></button>
        <ul class="dropdown-menu">
          <li><a href="#" id="csv-download"><i class="glyphicon glyphicon-download-alt"></i> Download CSV</a></li>
        </ul>
      </div>
      <button class="btn btn-primary" id="apply">Apply Changes</button>
    </div>
  </div>
</div>
