<td><label class="control-label">name</label></td>
<td>
    <input type="text" name="ad_path" class="form-control col-md-6" size="50" data-default-text="Path not set" autocomplete="off" /> <i style="display: none;" name="ad_path_check" />
</td>
