<!-- <a href="#" class="entity-favorite-link">
  <span class="glyphicon glyphicon-star" rel="tooltip" title="Unfavorite"></span>
</a> -->
<a href="#" class="entity-details-link">
  <span class="glyphicon glyphicon-search" rel="tooltip" title="See details"></span>
  <span class="glyphicon glyphicon-lock" rel="tooltip" title="Read only"></span>
</a>
<span id="pin-icon"></span> <span id="name">name</span>
