<a href="#" class="entity-favorite-link">
  <i class="glyphicon glyphicon-star" rel="tooltip" title="Unfavorite" />
</a>
<a href="#" class="entity-details-link">
  <i class="glyphicon glyphicon-search" rel="tooltip" title="See details" />
  <i class="glyphicon glyphicon-lock" rel="tooltip" title="Read only" />
</a>
<span id="pin-icon"></span> <span id="name">name</span>
