<h1>People <span class="glyphicon glyphicon-plus-sign" id="new-entry"></span></h1>

<div class="new-entry-box">
  <div class="new-entry-arrow"></div>
  <div class="new-entry-box-inner"><form id="new-entry-form"><input type="text" placeholder="Name the new person" /></form></div>
</div>

<span id="peopleGroups"></span>

<!--<h2>Assigned</h2>
<ul id="sortable" class="ui-sortable">
  <li class="ui-state-default ui-state-highlighted" style="background: linear-gradient(to bottom, rgb(125, 125, 125) 0%, rgb(105, 105, 105) 100%);">Dewight Kramer</li>
  <li class="ui-state-default ui-state-highlighted" style="background: linear-gradient(to bottom, rgb(125, 125, 125) 0%, rgb(105, 105, 105) 100%);">Obada Kadri</li>
  <li class="ui-state-default ui-state-highlighted" style="background: linear-gradient(to bottom, rgb(125, 125, 125) 0%, rgb(105, 105, 105) 100%);">Diane Mercedes Aguilar</li>
  <li class="ui-state-default ui-state-highlighted" style="background: linear-gradient(to bottom, rgb(125, 125, 125) 0%, rgb(105, 105, 105) 100%);">Brandon Vernon Baker</li>
  <li class="ui-state-default ui-state-highlighted" style="background: linear-gradient(to bottom, rgb(125, 125, 125) 0%, rgb(105, 105, 105) 100%);">Carol McMasters-Stone</li>
</ul>-->

<!--<h2 style="opacity: 0.4;">A-D</h2>
<ul id="sortable" class="ui-sortable">
  <li class="ui-state-default ui-state-disabled">Lloyd Wheeler</li>
  <li class="ui-state-default ui-state-highlighted ui-state-disabled" style="background: linear-gradient(to bottom, rgb(125, 125, 125) 0%, rgb(105, 105, 105) 100%);">Dewight Kramer</li>
  <li class="ui-state-default ui-state-disabled">Janine Carlson</li>
  <li class="ui-state-default ui-state-highlighted ui-state-disabled" style="background: linear-gradient(to bottom, rgb(125, 125, 125) 0%, rgb(105, 105, 105) 100%);">Obada Kadri</li>
  <li class="ui-state-default ui-state-disabled">Christopher Thielen</li>
</ul>-->
