<h1>Permissions</h1>

<span id="permissions"></span>

<!--<h2 style="font-weight: 500;">eVote</h2>

<ul id="sortable" class="ui-sortable">
    <li class="ui-state-default">Create Ballots</li>
    <li class="ui-state-default ui-state-highlighted ui-state-selected">View Results</li>
    <li class="ui-state-default">Vote</li>
</ul>-->
