<h1>Permissions <span class="glyphicon glyphicon-plus-sign" id="new-entry"></span></h1>

<div class="new-entry-box">
  <div class="new-entry-arrow"></div>
  <div class="new-entry-box-inner"><form id="new-entry-form"><input type="text" placeholder="Name the new application" /></form></div>
</div>

<span id="permissions"></span>
