<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      <h3>API Keys</h3>
    </div>
    <div class="modal-body">
      <table class="table table-striped" id="keys">
        <thead>
          <tr>
            <th>Name</th>
            <th>Secret</th>
            <th>Last Access</th>
            <th></th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>

      <form class="well form-inline" role="form" id="new-key">
        <label for="name" style="display: block;">Create New API Key</label>
        <input type="text" name="name" class="form-control" placeholder="Name…" />
        <button type="submit" class="btn btn-primary">Create</button>
      </form>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
    </div>
  </div>
</div>
