body {
  background-color: #eeeeee;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #333;
  text-align: center;
  
  span.glyphicon {
    font-size: 50%;
    color: #777;
    top: -2px;
  }
  
  span.glyphicon.glyphicon-plus-sign:hover {
    color: #333;
  }
}

.ui-sortable {
  width: 350px;
  margin: 30px auto;
  background-color: #ccc;
  -webkit-box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, .1);
    box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, .1);
    list-style-type: none; 
    padding: 0; 
}

.ui-sortable li.ui-state-default { 
  margin: 0; 
  height: 45px;
  line-height: 44px; 
  color: #eee;
  outline: 0;
  padding: 0;
  margin: 0;
  text-indent: 15px;
/*  background: rgb(78,82,91);
  background: -moz-linear-gradient(top,  rgb(78,82,91) 0%, rgb(57,61,68) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(78,82,91)), color-stop(100%,rgb(57,61,68)));
  background: -webkit-linear-gradient(top,  rgb(78,82,91) 0%,rgb(57,61,68) 100%);
  background: -o-linear-gradient(top,  rgb(78,82,91) 0%,rgb(57,61,68) 100%);
  background: -ms-linear-gradient(top,  rgb(78,82,91) 0%,rgb(57,61,68) 100%);
  background: linear-gradient(to bottom,  rgb(78,82,91) 0%,rgb(57,61,68) 100%);
*/
/*  background: rgb(52, 85, 148); /* 85, 85, 85
  background: linear-gradient(to bottom, rgb(52, 85, 148) 0%, rgb(32, 65, 128) 100%); */
/*  background: rgb(125, 125, 125);
  background: linear-gradient(to bottom, rgb(125, 125, 125) 0%, rgb(105, 105, 105) 100%);
  text-shadow: -1px -1px 0px rgba(0,0,0,.6);
*/
  background: rgb(200, 200, 200);
  background: linear-gradient(to bottom, rgb(210, 210, 210) 0%, rgb(190, 190, 190) 100%);
  color: #444;
  text-shadow: 0px 0px 4px rgb(255, 255, 255);
  
  border-top: 1px solid rgba(255,255,255,.2);
  border-bottom: 1px solid rgba(0,0,0,.5);
  font-size: 1.1em;
  position: relative;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.ui-sortable li.ui-state-default:first-child {
  border-top: 0; 
}
.ui-sortable li.ui-state-default:last-child {
  border-bottom: 0;
}

.ui-sortable-placeholder {
  border: 3px dashed #aaa;
  height: 45px;
  width: 344px;
  background: #ccc;
}
.ui-sortable li.ui-state-default:after {
  content: "\f10c";
  display: inline-block;
  font-family: "FontAwesome";
  position: absolute;
  right: 18px;
  top: 5px;
  text-align: center;
  line-height: 35px;
  color: rgba(255,255,255,.6);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  cursor: move;
}

.ui-sortable li.ui-state-default:hover:after {
  color: rgba(80,80,80,.8);
}

.ui-sortable li.ui-state-default.ui-state-highlighted:hover:after {
  color: rgba(255,255,255,.8);
}

.ui-sortable li.ui-state-default:hover {
  opacity: 1.0 !important;
}

.ui-sortable li.ui-state-default.ui-state-disabled:hover {
  border-top: 1px solid rgba(0,0,0,.2);
  border-bottom: 1px solid rgba(0,0,0,.4);
}
.ui-sortable li.ui-state-default.ui-state-disabled:hover:last-child {
  border-top: 1px solid rgba(0,0,0,.2);
  border-bottom: 1px solid rgba(0,0,0,.4);
}

.ui-sortable li.ui-state-highlighted {
  background: rgb(62, 114, 168);
  background: linear-gradient(to bottom, rgb(62, 114, 168) 0%, rgb(42, 94, 148) 100%);
  font-weight: 500;
  color: #eee;
  text-shadow: -1px -1px 0px rgba(0,0,0,.6);
}
.ui-sortable li.ui-state-highlighted:after {
  content: "\f111";
  color: rgba(255,255,255,.8);
}

.ui-state-disabled {
  opacity: 0.4;
}

div.new-entry-box {
  color: rgb(51, 51, 51);
  margin-top: -3px;
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 5px;
  position: absolute;
  width: 85%;
  
  input {
    background: none;
    border: 0;
    color: #fff;
    margin: 0;
    padding: 0;
    text-shadow: black 0px 0px 4px;
    text-align: center;
    
    &:focus {
      outline: 0;
    }
  }
  
  &.active {
    opacity: 0.9;
    height: auto;
  }
  
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  opacity: 0;
  height: 0;
  
  .new-entry-arrow {
    border-bottom-color: rgb(100, 100, 100);
    border-bottom-style: solid;
    border-bottom-width: 10px;
    border-left-color: rgba(100, 100, 100, 0);
    border-left-style: solid;
    border-left-width: 10px;
    border-right-color: rgba(100, 100, 100, 0);
    border-right-style: solid;
    border-right-width: 10px;
    border-top-color: rgba(100, 100, 100, 0);
    border-top-style: solid;
    border-top-width: 0px;
    height: 20px;
    left: 50%;
    line-height: 16px;
    margin-left: -10px;
    position: absolute;
    top: -12px;
    width: 15px;
  }
  
  .new-entry-box-inner {
    background-color: rgb(100, 100, 100);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: rgb(255, 255, 255);
    font-family: Roboto, sans-serif;
    font-size: 15px;
    line-height: 34px;
    text-shadow: rgb(0, 0, 0) 0px 0px 4px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    text-align: center;
    width: 100%;
  }
}